.navbar{
    background-color: #02162b;
}

.guiaNav{
    border-top:1px solid #f3e17a;
    color: #f3e17a;
}

.btn{
    background-color: #f3e17a;
    color: #02162b;
}

#letra{
    color: #f3e17a;
}

@media (max-width: 320px){
    .imgRes1{
        display: none;
    }

    .divInfRes{
        margin-top: 70px;
    }
}

